<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/all.css" />
<img src= "/static/images/pic03.jpg" alt="pic03 not found" />
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header>
        <h1>Flight Manager</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/view_flights">View Flights</a></li>
                <li><a href="/add_flight">Add Flight</a></li>
                <li><a href="/delete_flight">Delete Flight</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Welcome</h2>
        <p>TODO</p>
    </main>
</body>
</html>

