<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="/">GSEA</a></h1>
      </div>

      <!-- ======= Menu de navigation ======= -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Accueil</a></li>
          <li><a class="nav-link scrollto" href="/afficher">Afficher</a></li>
          <li class="dropdown"><a href="#"><span>Gestion des vols</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/ajouter">Ajouter</a></li>
              <li><a href="/modifier">Modifier</a></li>
              <li><a href="/supprimer">Supprimer</a></li>
              <li><a href="/manage">Gérer avions</a></li>

            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Connexion</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/connecter">Se connecter</a></li>
              <li><a href="/disconnect">Déconnexion</a></li>
              <li><a href="/pagePrivee">Page privée ;-;</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->