{% include("header.html") %}

<main id="main">

      <section class="inner-page">
        <div class="container">
            <h2>Supprimer un vol</h2>
                <table class="table mt-5">
                    <thead>
                        <tr>
                        <th><i class="fas fa-trash-alt fa-2x text-danger"></i><br />Supp</th>
                        <th><i class="fas fa-flag-checkered fa-2x"></i> <br />Indicatif</th>
                        <th><i class="fas fa-plane-departure fa-2x"></i><br />OACI Départ</th>
                        <th><i class="fas fa-plane-arrival fa-2x"></i><br />OACI Arrivée</th>
                        <th> <i class="far fa-clock fa-2x"></i><br />Heure Départ </th>
                        <th> <i class="fas fa-clock fa-2x"></i><br />Heure Arrivée </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vols %}
                        <tr><td><a href="/supprimer/{{loop.index}}" ><i class="fas fa-trash-alt fa-2x text-danger"></i></a></td>
                            {% for data in v %}
                            <td>{{data}}</td>
                            {%endfor%}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
        </div>
        
    </section>
  </main><!-- End #main -->

{% include ("footer.html") %}